.DS_Store
frontend_instructions/.DS_Store
frontend_instructions/contrast_test_slide/node_modules/
frontend_instructions/contrast_test_slide/out/block2/ql/
frontend_instructions/contrast_test_slide/out/block2/single/
frontend_instructions/contrast_test_slide/out/block2/thumbs/
